.Buying_Industry{
    .bg_Rectangle_img{
    background-image: url('/Rectangle.png ');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    // background-color: red;
  }
  .learn_btn{
    background-color: #67CBAB;
  }
}
