
$primary-color:#F9FAFD;
.max_container{
    width: 1280px;
}

.header{
    background-color:$primary-color ;
   
    
}
.form{
    position: relative;
    display: flex;
    align-items: center;
    .user_img{
        margin-right: 20px;
    }
    .custom_img{
        position: absolute;
        top: 10%;
        left: 30%;
    }
}

// banner section scss

.banner_section{
    .industry_img{
        width: 100%;
    }
}